<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring boot+Wesoket+广播式 </title>

</head>
<body onload="disconnect()">
<noscript>
    <h2 style="color: #ff0000">浏览器不支持WebSocket</h2>
</noscript>
<div>
    <div>
        <button id="connect" onclick="connect()">连接</button>
        <button id="disconnect" onclick="disconnect()">关闭连接</button>
    </div>
    <div id="conversationDiv">
        <lable>名字：</lable>
        <input type="text" id="name"/>
        <button id="sendName" onclick="sendName()">发送</button>
        <p id="response"></p>
    </div>
</div>
<script th:src="@{js/sockjs.min.js}"></script>
<script th:src="@{js/stomp.js}"></script>
<script th:src="@{js/jquery-3.1.1.js}"></script>
<script type="text/javascript">
    var stompClient = null;
    function setConnect(connected) {
        document.getElementById("connect").disabled = connected;
        document.getElementById("disconnect").disabled = !connected;
        document.getElementById("conversationDiv").style.visibility = connected ? "visible" : "hidden";
        $("#response").html();
    }


    function connect() {
        var socketJs = new SockJS("/endpointWisely");
        stompClient = Stomp.over(socketJs);
        stompClient.connect({}, function (frame) {
            setConnect(true);
            console.log("Connected:" + frame);
            stompClient.subscribe("/topic/getResponse", function (response) {
                showResponse(JSON.parse(response.body).responseMessage);
            })
        });

    }

    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
        console.log("Disconnected");
        setConnect(false);
    }

    function sendName() {
        var name = $("#name").val();
        stompClient.send("/welcome", {}, JSON.stringify({"name": name}));
    }

    function showResponse(message) {
        $("#response").html(message);
    }

</script>
</body>
</html>